---
import { Image } from "astro:assets";

interface Props {
  review: string;
  name: string;
  role: string;
  image: string;
}

const { review, name, role, image } = Astro.props;
---

<li class="swiper-slide">
  <div class="body-wrapper">
    <div class="thumbnail">
      <Image
        src={image}
        alt={name}
        width={48}
        height={48}
        class="rounded-full h-auto object-cover aspect-square w-12"
      />
    </div>
    <div class="aside">
      <p>
        {review}
      </p>
      <div class="name">
        <h4>{name}</h4>
        <p>
          {role}
        </p>
      </div>
    </div>
  </div>
</li>
